<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <style>
        audio::-webkit-media-controls-panel {
            display: flex;
            flex-direction: row;
            align-items: center;
            /* We use flex-start here to ensure that the play button is visible even
            * if we are too small to show all controls.
            */
            justify-content: flex-start;
            -webkit-user-select: none;
            position: relative;
            width: 100%;
            z-index: 0;
            overflow: hidden;
            text-align: right;
            bottom: auto;
            height: 55px;
            background-color: #6fbf46;
            border-radius: 5px;
            /* The duration is also specified in MediaControlElements.cpp and LayoutTests/media/media-controls.js */
            transition: opacity 0.3s;
        }
    </style>
</head>
<body>
    <div id="teste" style="align-content: center; width: 300px; background-color: #f37020">
        <audio id="player" controls="controls" autoplay="autoplay" preload="auto">
            <source src="http://stm6.srvstm.com:21670/;">
            <source src="http://stm6.srvstm.com:21670">
        </audio>
    </div>
</body>
</html>